/public/
/tmp/
/var/


## celery

/linked_list/celerybeat-schedule


## nodejs

/node_modules/
/package.json


## python

/.virtualenv/
/python_modules
/requirements.txt
*.pyc


## waf

/.BUILD/
/.lock-waf_*
/build.yml
/wscript
/etc/runner.json
