{% load material_forms %}

<label class="mdc-text-field mdc-text-field--fullwidth">
  <div class="mdc-text-field__ripple"></div>
  {% text field %}
  <span class="mdc-floating-label" id="{{ field.id_for_label }}-label">
    {{ field.label }}
  </span>
  <div class="mdc-line-ripple"></div>
</label>
{% if field.help_text %}
  <div class="mdc-text-field-helper-line">
    <div class="mdc-text-field-helper-text" id="{{ field.id_for_label}}-hint"
        aria-hidden="true">
      {{ field.help_text }}
    </div>
  </div>
{% endif %}
{{ field.errors }}
