{% extends "drawer.html" %}
{% load i18n %}

{% block content %}
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <form action="" method="post">
          {% csrf_token %}
          {{ form.name }}
          {{ form.value_type }}

          <p>There are {{values|length}} choices available for {{label}}.</p>

          <fieldset class="form-group">
            <legend>Choose</legend>
            {% for item in values %}
              <label class="d-block w-100">
                <input name="value" type="checkbox" value="{{item.value}}">
                {% if type == 'image' %}
                  {{item.source}}
                  <div><img src={{item.value}}></div>
                {% else %}
                  {{item.source}}: {{item.value}}
                {% endif %}
              </label>
            {% endfor %}
          </fieldset>

          <button type="submit" class="mdc-button mdc-button--raised">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">
              {% trans "Update" %}
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
